* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  max-height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
#app {
  /* overflow: hidden; */
  width: 100%;
  height: 135%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 25vh;
  font-size: 25px;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 2;
  border-bottom: 0.5px solid lightgrey;
}
.header p {
  display: flex;
  align-self: flex-start;
  font-size: 17px;
  opacity: 0.4;
  color: black;
}
.header a {
  color: black;
}
.header h3 {
  text-align: right;
  margin-right: 10%;
  padding: 10px;
  color: blue;
  font-size: 38px;
}
#notStartedWrap {
  background-color: darkgrey;
  position: absolute;
  top: 25vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.6;
  transition-duration: 1s;
}
#getStartedDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45vh;
  left: 40%;
  z-index: 1000;
  width: 350px;
  height: 200px;
  background-color: #dfc;
  cursor: pointer;
  border: 2px solid aquamarine;
  border-radius: 10px;
}
li {
  list-style-type: none;
}
.questions {
  position: absolute;
  top: 60vh;
  left: 30%;
  z-index: 1000;
  min-height: 200px;
  min-width: 280px;
  background-color: antiquewhite;
  border: 3px solid teal;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.answers {
  display: flex;
  justify-content: space-around;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
}
.images div {
  max-width: 130px;
  height: 115px;
  margin: 5px;
  /* filter: blur(1px); */
  /* border: 1px solid red; */
}
img:hover {
  /* filter: brightness(1.4); */
  /* filter: blur(0); */
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 15px;
}
img {
  animation-name: floatins;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: 1s;
  /* max-width: fit-content;
  max-height: fit-content; */
  width: 100%;
  height: 100%;
  /* border: 2px solid blue; */
}
@keyframes floatin {
  0% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
}
