* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}
#app {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.intro {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px;
  width: 100%;
  background-color: white;
}
.introHeaderWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro h1 {
  font-size: 45px;
  text-align: center;
}
.intro h3 {
  font-size: 20px;
  width: 100%;
  margin-top: 32%;
  text-align: center;
}
#processDiv {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  /* margin-top: 60px; */
  height: 60vh;
  width: 100%;
  background-color: white;
}
#processDiv p {
  font-size: 18px;
  margin-top: 30px;
}
#processDiv div {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 12px;
}
#add,
#equals {
  width: 40px;
}
.subIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 5px;
  margin-bottom: 100px;
}
.subIntro h4 {
  text-align: center;
  font-size: 23px;
  margin-bottom: 30px;
}
.card {
  width: 80%;
  border: 1px solid #555;
  box-shadow: 3px 4px 10px;
  margin: 20px 10px;
  padding: 8px;
}
.card h5 {
  font-size: 18px;
  background-color: #999;
  padding: 5px;
}
.card ul {
  padding: 10px;
}
.card li {
  margin: 3%;
  list-style: disc;
}
#getStartedDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 40px 10px;
  padding: 8px;
  width: 80%;
  height: 50vh;
  transition-duration: 1s;
}
#getStartedDiv h4 {
  margin: 12px 0;
  font-size: 20px;
}
#getStartedDiv p {
  margin: 10px;
}
#reset {
  border: 1px solid red;
}
.questions {
  position: relative;
  top: 60vh;
  left: 30%;
  z-index: 1000;
  min-height: 200px;
  min-width: 280px;
  background-color: antiquewhite;
  border: 3px solid teal;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.answers {
  display: flex;
  justify-content: space-around;
}
.getStarted {
  width: 100%;
}
.getStartedNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.images {
  position: relative;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 90vh;
  overflow-y: scroll;
  overflow: hidden;
}
.images::-webkit-scrollbar {
  display: none;
}
.images div {
  max-width: 130px;
  height: 115px;
  margin: 5px;
}
#scrollUp {
  position: relative;
  top: 87vh;
  background-color: burlywood;
}
