* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  height: 100%;
}
body {
  max-height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
#app {
  /* overflow: hidden; */
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.intro {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 0px;
  width: 100vw;
  background-color: white;
}
.introHeaderWrap {
  display: flex;
  flex-direction: column;
}
.intro h1 {
  font-size: 55px;
  margin: 15px 0 40px 80px;
}
.intro h3 {
  align-self: flex-end;
  margin-right: 20vw;
  font-size: 30px;
  width: 32vw;
}
.underline {
  align-self: flex-end;
  height: 4px;
  width: 0;
  background-color: black;
  margin-right: 22.4vw;
  margin-bottom: 60px;
}
hr {
  width: 50vw;
  align-self: center;
}
#processDiv {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 60px;
  height: 60vh;
  width: 100%;
  background-color: white;
}
#processDiv p {
  font-size: 20px;
  margin-top: 30px;
}
#processDiv div {
  align-self: center;
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.intro img {
  display: flex;
  align-self: center;
  width: 180px;
  height: 180px;
}
#equals,
#add {
  width: 70px;
  height: 70px;
}
#hr2 {
  margin-bottom: 30vh;
  display: block;
  background-color: white;
}
.parallax {
  height: 300vh;
  width: 100%;
  background-image: url("resources/drumstest.jpeg");
  background-size: cover;
  z-index: -1;
  top: 120vh;
}
.info {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  width: 100vw;
  margin-top: 30vh;
  padding: 50px;
}
.info img {
  display: flex;
  align-self: center;
  margin: 10px;
  max-width: 450px;
  max-height: 257px;
  border-radius: 10px;
  box-shadow: 5px 10px 4px #444;
}
.info p {
  display: flex;
  align-self: center;
  font-size: 28px;
}
.info1 {
  background: linear-gradient(
    90deg,
    rgba(246, 240, 238, 1) 0%,
    rgba(241, 0, 0, 1) 71%,
    rgba(252, 252, 252, 1) 94%
  );
  padding-top: 160px;
}
.info2 {
  display: flex;
  flex-direction: row-reverse;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 16%,
    rgba(166, 135, 26, 1) 100%
  );
  margin-top: 30vh;
}
.info2 p {
  margin-left: 30px;
  padding: 10px;
}
.info3 {
  margin-top: 30vh;
  background: linear-gradient(
    90deg,
    rgba(246, 240, 238, 1) 0%,
    rgba(68, 33, 89, 1) 81%
  );
  position: relative;
  top: -70vh;
}
#fader {
  height: 70vh;
  width: 100%;
  position: relative;
  top: 30vh;
  z-index: 3;
}
#keepScrolling {
  display: flex;
  flex-direction: column;
  font-size: 28px;
  height: fit-content;
  width: 100%;
  padding-top: 80px;
  background-color: white;
  /* border: 1px solid red; */
}
.staggerDiv {
  display: flex;
  justify-content: center;
}
.stagger {
  margin: 5px;
  /* left: 0; */
}
#keepScrolling p {
  display: flex;
  padding: 30px;
  margin: 80px;
  height: 50vh;
  font-size: 45px;
  /* border: 1px solid green; */
}
#keepScrolling p:nth-child(1) {
  justify-content: center;
  margin: 80px 10px 0px;
  padding-bottom: 4px;
  height: fit-content;
  /* border: 1px solid blue; */
}
.underlineScroll {
  display: flex;
  align-self: center;
  width: 80vw;
  height: 5px;
  background-color: black;
  margin-bottom: 50vh;
  /* border: 1px solid red; */
}
/* #keepScrolling p:nth-child(2) {
  margin-left: 20vw;
  margin-top: 100px;
  border: 1px solid red;
} */
#keepScrolling p:nth-child(3) {
  margin-left: 20vw;
  font-size: 65px;
  /* border: 1px solid blue; */
}
#keepScrolling p:nth-child(4) {
  margin-left: 40vw;
  margin-bottom: 5vh;
  font-size: 65px;
  /* border: 1px solid red; */
}
#keepScrolling p:nth-child(5) {
  margin-left: 60vw;
  height: 60vh;
  padding-top: 15vh;
  font-size: 65px;
  /* border: 1px solid red; */
}
#appHeader {
  margin: 0;
  width: 100vw;
  left: 0;
}
#fourth {
  /* border: 1px solid green; */
  font-size: 65px;
  margin-bottom: 20vh;
}
.header {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 25vh;
  font-size: 25px;
  color: black;
  /* position: fixed; */
  /* top: 10vh; */
  width: 100%;
  z-index: 2;
  border-bottom: 0.5px solid lightgrey;
}
.header p {
  display: flex;
  align-self: flex-start;
  font-size: 17px;
  opacity: 0.4;
  color: black;
}
.header a {
  color: black;
}
.header h3 {
  text-align: right;
  margin-right: 10%;
  padding: 10px;
  color: blue;
  font-size: 38px;
}
#notStartedWrap {
  background-color: darkgrey;
  position: absolute;
  top: 545vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0.6;
  transition-duration: 1s;
  z-index: -1;
}
#getStartedDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  top: 45vh;
  left: 40%;
  z-index: 1000;
  width: 350px;
  height: 200px;
  background-color: #dfc;
  cursor: pointer;
  border: 2px solid aquamarine;
  border-radius: 10px;
}
#getStartedDiv p:nth-child(3) {
  padding: 8px;
  text-align: center;
}
.questions {
  position: absolute;
  top: 60vh;
  left: 30%;
  z-index: 1000;
  min-height: 200px;
  min-width: 280px;
  background-color: antiquewhite;
  border: 3px solid teal;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
.answers {
  display: flex;
  justify-content: space-around;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.images div {
  max-width: 130px;
  height: 115px;
  margin: 5px;
}
