<html>
  <header>
    <link rel="stylesheet" href="drumFinder.css" />
    <script src="frameworks/minified/TweenMax.min.js"></script>
    <script src="frameworks/scrollmagic/minified/ScrollMagic.min.js"></script>
    <script src="frameworks/scrollmagic/minified/plugins/animation.gsap.min.js"></script>
    <script src="frameworks/minified/TimelineMax.min.js"></script>
    <script src="frameworks/minified/plugins/CSSPlugin.min.js"></script>
    <script src="vue/vue.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  </header>
  <body>
    <div id="app">
      <div class="intro">
        <div class="introHeaderWrap">
          <h1>Welcome to <span>DrumFinder 1.0</span></h1>
          <h3>Let us find the perfect kit for you</h3>
          <div class="underline"></div>
        </div>

        <section id="processDiv">
          <div>
            <img src="resources/Icons/thinking.svg" alt="user input" />
            <p>Answer some quickies</p>
          </div>
          <img id="add" src="resources/Icons/add.svg" alt="user input" />
          <div>
            <img src="resources/Icons/worker.svg" alt="process the input" />
            <p>Let our workers analyze</p>
          </div>
          <img
            id="equals"
            src="resources/Icons/equal.svg"
            alt="generat a drum set"
          />
          <div>
            <img src="resources/Icons/drum.svg" alt="generate a drum set" />
            <p>Hand picked kit for you!</p>
          </div>
        </section>
      </div>
      <section class="subIntro">
        <h4>Things to consider</h4>
        <div class="card">
          <h5>Sound</h5>
          <ul>
            <li>
              What kind of sounds do you appreciate in a kit?
            </li>
            <li>
              Do you like punchy bass drums or snappy snares?
            </li>
            <li>Deep tones or crackling clangs?</li>
          </ul>
        </div>
        <div class="card">
          <h5>Purpose</h5>
          <ul>
            <li>What will you be using your kit for?</li>
            <li>Playing gigs in cozy jazz bar?</li>
            <li>Rocking out on stage at a large venue?</li>
            <li>Just setting up a kit at home?</li>
          </ul>
        </div>
        <div class="card">
          <h5>Space/Environment</h5>
          <ul>
            <li>
              Where will you setup?
            </li>
            <li>Are you in an apartment and hate your neighbors?</li>
            <li>
              Do you have a designated area with plenty of arm flailing space?
            </li>
            <li>
              Are your quarters a little tighter than you'd like but you still
              want to jam?
            </li>
          </ul>
        </div>
      </section>
      <section class="getStarted">
        <div id="getStartedDiv">
          <h4 v-show="!getStarted">Ready to get started?</h4>
          <p v-show="!getStarted">Just keep scrolling...</p>
        </div>
        <nav class="getStartedNav">
          <p v-show="getStarted">Running...</p>
          <p v-show="getStarted">DrumFinder</p>
        </nav>
      </section>
      <!-- <div v-show="getStarted" class="questions">
        <h2>
          {{ questions[order].q }}
        </h2>
        <div class="answers">
          <button
            v-for="answer in questions[order].a"
            @click=" nextQuestion(), getAns(questions), anyQ(), tally()"
          >
            loadArr() fade(), {{ answer }}
          </button>
        </div>
      </div> -->
      <div class="images">
        <p id="scrollUp" v-show="getStarted">Scroll up to reset or exit</p>
        <div v-for="(img, ind) in loadedArr">
          <img class="class" :src="img" alt="random drum sets" />
        </div>
      </div>
    </div>

    <script src="drumFinder.js"></script>
  </body>
</html>
